body{
  width: 100%;
  height: 100%;
}

#img_caracter{
width: 40%;
height: 40%;

}

#verfiy_asig{
  width: 20%;
  height: 20%;
}
#atributo_1_i{
  width: 10%;
  height: 10%;
}
#atributo_2_i{
  width: 10%;
  height: 10%;
}
#atributo_3_i{
  width: 10%;
  height: 10%;
}
#exitIcon{
width: 20%;
height: 20%;

}

#bienIcono{
  width: 20%;
  height: 20%;
}
#neutroIcono{
  width: 20%;
  height: 20%;
}

#malIcono{
  width: 20%;
  height: 20%;
}

#flecha{
  width: 20%;
  height: 20%;
}
#flecha_2{
  width: 20%;
  height: 20%;
}
#flecha_ficha{
  width: 20%;
  height: 20%;
}
.icon{
width: 80%;
height: 15%;

}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.escritorio {
  grid-area: 1 / 1 / 6 / 6;
}
.Pantalla_1 {
  visibility: hidden;
  grid-area: 1 / 1 / 6 / 3;
    background-color: red;
}
.Pantalla_2 {
  visibility: hidden;
  grid-area: 1 / 3 / 6 / 5;
    background-color: blue;
}
.iconos {
  grid-area: 1 / 5 / 6 / 6;
    background-color: green;
 }

 #ChatMessages{
width: 100%;
height: 40%;

 }


 #ChatQuestions{
width: 100%;
height: 40%;

 }
